.dog_container{
  display: flex;
  justify-content: space-around;

}

.dog_card, .rent_dog{
    margin: 50px;
    padding: 20px;
}

.search_tabs{
  display: flex;
  justify-content: space-evenly;
}

.tabs{
  display: flex;
  justify-content: space-between;
 }
