.dog_container{
  display: flex;
  justify-content: space-around;

}

.dog_card, .rent_dog{
    margin: 50px;
    padding: 20px;
}

.search_tabs{
  display: flex;
  justify-content: space-evenly;
}

.tabs{
  display: flex;
  justify-content: space-between;
 }

.dog_card li {
  list-style-type: none;
}

h1 {
  margin: 0;
}

.dog_card {
  margin: 0;
}

h3 {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

#new_renting {
  margin-top: 50px;
}
