<footer>
   <div class="footer">
    <div class="footer-copyright" style="text-align: center;">
      <p>Copyright © 2019 DogHub <i class="fas fa-heart"></i> All rights reserved</p>
    </div>
  </div>
</footer>

