.banner {
  background-size: cover;
  background-position: center;
  padding: 0;
  height: 740px;
  display: flex;
  align-items: flex-start;
  position: relative;
}

.banner h1 {
  font-size: 40px;
  color: white;
  margin-bottom: 20px;
  // width: 200px;
  // margin-left: 20px;
  justify-content: left;
  // margin-left: 20%;
  margin-top: 180px;
  text-shadow: 3px 2px 3px rgba(0,0,0,0.4);
}

.banner p {
  font-size: 25px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.arrow {
  text-align: center;
  margin-top: -50px;
  z-index: 10;
  position: relative;
  display: flex;
  justify-content: center;
  a {
    color: white;
  }
}
.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

.arrow a:hover {
  opacity: .8;
  text-decoration: none;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 50% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

.carousel {
  margin-bottom: 40px;
}
