.homepage-card {
  overflow: hidden;
  height: 475px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // margin: 0 auto;
  margin-left: 0px;
  position: absolute;
  top: 0px;
  left: 210px;
  // display: inline-block;
}

.homepage-button {
  background-color: #02edd2;
  border-color: #02edd2;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  margin-left: 0;
  border-radius: 4px;
  text-shadow: 3px 2px 3px rgba(0,0,0,0.4);
  box-shadow: 3px 2px 5px rgba(0,0,0,0.2);

  a {
    color: white;
    font-size: 25px;
    text-shadow: 3px 2px 3px rgba(0,0,0,0.2);
  }
}

.btn-block {
  height: 70px;
  margin-top: 10px;
}

// .homepage-card h2 {
//   font-size: 25px;
//   margin-top: 10px;
//   text-align: center;
// }

