.navbar-lewagon {
  justify-content: space-between;
  background-color: white;
  // background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
}

.navbar-home {
  -webkit-box-pack: justify;
  justify-content: space-between;
  background-color: transparent;
  position: absolute;
  z-index: 8;
  width: 100%;
  a{
    color: white !important
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-light .navbar-brand {
    color: rgba(0, 0, 0, 0.9);
}

.navbar-lewagon .navbar-collapse {
  -webkit-box-flex: 0;
  flex-grow: 0;
}

.home-nav {
  background-color: transparent;
  margin-bottom: -58px;
  padding-top: 0px;
  z-index: 1;
}

.home-nav .nav-link {
  color: black !important;
}

.logo-name {
    display: inline;
    font-size: 20px;
    align-content: center;
}
