.button {
  background-color: #e7e7e7; color: black;
  opacity: 1;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  padding: 8px;
}


.search_tabs {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0px 150px;
}


.search-form-container {
  display:flex;
  padding: 0 60px;
}

.price-dropdown {
  margin-left: 15px;
  margin-right: 15px;
}

.submit-buttons {
  margin-right: 20px;
}

.dropdown-menu {
  opacity: .7;
  width: 200px;
}

.checkbox {
  margin: 10px;
}
